<div class="container">
  <div class="products-grid">
    <div class="product">
      <div class="product__thumb">
        <img
          src="./assets/sanpham/gong_kinh_can/kimloai_mix_nhựa/san pham 1/HhKVgswG58SujNIlqj4sp3DuFpjqSyGkIRnwgpvo.jpeg"
          alt=""
        />
      </div>
      <div class="product__info">
        <a href="#">
          <h3 class="product__title">Mắt kính ABC</h3>
        </a>
        <span class="product__price">250.000đ</span>
      </div>
    </div>

    <div class="product">
      <div class="product__thumb">
        <img
          src="./assets/sanpham/gong_kinh_can/kimloai_mix_nhựa/san pham 1/HhKVgswG58SujNIlqj4sp3DuFpjqSyGkIRnwgpvo.jpeg"
          alt=""
        />
      </div>
      <div class="product__info">
        <a href="#">
          <h3 class="product__title">Mắt kính ABC</h3>
        </a>
        <span class="product__price">250.000đ</span>
      </div>
    </div>

    <div class="product">
      <div class="product__thumb">
        <img
          src="./assets/sanpham/gong_kinh_can/kimloai_mix_nhựa/san pham 1/HhKVgswG58SujNIlqj4sp3DuFpjqSyGkIRnwgpvo.jpeg"
          alt=""
        />
      </div>
      <div class="product__info">
        <a href="#">
          <h3 class="product__title">Mắt kính ABC</h3>
        </a>
        <span class="product__price">250.000đ</span>
      </div>
    </div>
    <div class="product">
      <div class="product__thumb">
        <img
          src="./assets/sanpham/gong_kinh_can/kimloai_mix_nhựa/san pham 1/HhKVgswG58SujNIlqj4sp3DuFpjqSyGkIRnwgpvo.jpeg"
          alt=""
        />
      </div>
      <div class="product__info">
        <a href="#">
          <h3 class="product__title">Mắt kính ABC</h3>
        </a>
        <span class="product__price">250.000đ</span>
      </div>
    </div>
    <div class="product">
      <div class="product__thumb">
        <img
          src="./assets/sanpham/gong_kinh_can/kimloai_mix_nhựa/san pham 1/HhKVgswG58SujNIlqj4sp3DuFpjqSyGkIRnwgpvo.jpeg"
          alt=""
        />
      </div>
      <div class="product__info">
        <a href="#">
          <h3 class="product__title">Mắt kính ABC</h3>
        </a>
        <span class="product__price">250.000đ</span>
      </div>
    </div>
    <div class="product">
      <div class="product__thumb">
        <img
          src="./assets/sanpham/gong_kinh_can/kimloai_mix_nhựa/san pham 1/HhKVgswG58SujNIlqj4sp3DuFpjqSyGkIRnwgpvo.jpeg"
          alt=""
        />
      </div>
      <div class="product__info">
        <a href="#">
          <h3 class="product__title">Mắt kính ABC</h3>
        </a>
        <span class="product__price">250.000đ</span>
      </div>
    </div>
    <div class="product">
      <div class="product__thumb">
        <img
          src="./assets/sanpham/gong_kinh_can/kimloai_mix_nhựa/san pham 1/HhKVgswG58SujNIlqj4sp3DuFpjqSyGkIRnwgpvo.jpeg"
          alt=""
        />
      </div>
      <div class="product__info">
        <a href="#">
          <h3 class="product__title">Mắt kính ABC</h3>
        </a>
        <span class="product__price">250.000đ</span>
      </div>
    </div>
    <div class="product">
      <div class="product__thumb">
        <img
          src="./assets/sanpham/gong_kinh_can/kimloai_mix_nhựa/san pham 1/HhKVgswG58SujNIlqj4sp3DuFpjqSyGkIRnwgpvo.jpeg"
          alt=""
        />
      </div>
      <div class="product__info">
        <a href="#">
          <h3 class="product__title">Mắt kính ABC</h3>
        </a>
        <span class="product__price">250.000đ</span>
      </div>
    </div>
    <div class="product">
      <div class="product__thumb">
        <img
          src="./assets/sanpham/gong_kinh_can/kimloai_mix_nhựa/san pham 1/HhKVgswG58SujNIlqj4sp3DuFpjqSyGkIRnwgpvo.jpeg"
          alt=""
        />
      </div>
      <div class="product__info">
        <a href="#">
          <h3 class="product__title">Mắt kính ABC</h3>
        </a>
        <span class="product__price">250.000đ</span>
      </div>
    </div>
  </div>
  <div class="pagination">
    <button class="btn btn-outline">Trước</button>
    <button class="btn btn-square btn-outline active">1</button>
    <button class="btn btn-square btn-outline">2</button>
    <button class="btn btn-square btn-outline">3</button>
    <button class="btn btn-square btn-outline">4</button>
    <button class="btn btn-outline">Tiếp</button>
  </div>
</div>
