main {
  background: url('../assets/7195232.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}

main .container {
  height: 100%;
}

.search-order-modal {
  max-width: 900px;
  padding: 64px 128px;
  border-radius: 18px;
  background-color: #fff;
  /* margin: 10rem auto; */
}

.search-order-modal h2 {
  margin-bottom: 28px;
  text-transform: uppercase;
}

.search-order-modal input {
  padding: 18px;
  margin-bottom: 24px;
  width: 100%;
}

.search-order-modal .btn-primary {
  margin-top: 2%;
  padding: 18px 24px;
}

footer {
  margin-top: 0;
}
